button {
  background-color: #fbc02c !important;
  color: #3b438b !important;
}

button[disabled] {
  background-color: lightgrey !important;
  color: grey !important;
}

input,
textarea {
  background-color: white !important;
  border-radius: 4px;
  padding: 0.5rem !important;
}

.Mui-error input {
  color: red !important;
}

fieldset {
  border: 0 !important;
}

main {
  margin-top: 50px;
}

h2 {
  color: #3b438b;
  font-size: xx-large !important;
  font-weight: bold !important;
}
